name: Java CI/CD with Releases

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  # --- ДЖОБА 1: ТЕСТЫ ---
  build-and-test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [
          ubuntu-latest,
          windows-latest,
          macos-15-intel, #Мак на Интел
          macos-latest
        ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run Tests
        # запускаем тесты
        run: mvn test --file pom.xml

  # --- ДЖОБА 2: СБОРКА И РЕЛИЗ ---
  deploy-release:
    name: Create GitHub Release
    needs: build-and-test # ждем успеха тестов
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' # только для ветки main

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build JAR
        run: mvn package -DskipTests

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v1.0.${{ github.run_number }}
          name: Release v1.0.${{ github.run_number }}
          # берем файл, который собрал Maven (он лежит в папке target)
          files: target/*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}